src/Deformable-3D-Gaussians/submodules/depth-diff-gaussian-rasterization
src/Deformable-3D-Gaussians/submodules/simple-knn
plyfile==0.8.1
tqdm
imageio==2.27.0
opencv-python
imageio-ffmpeg
scipy
dearpygui
lpips
transformers==4.44.2
diffusers == 0.20.0
xformers==0.0.22
accelerate==0.34.2
huggingface-hub==0.23.5